.formContainer {
    width: 80%;
    margin: 0 auto;
    padding: 20px;
    border: 1px solid #ccc;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
    background-color: #f9f9f9;
    border-radius: 10px;
    margin-top: 50px;
    color: black;
  }
  
  .stepContainer {
    margin-bottom: 20px;
  }
  
  .stepHeading {
    margin-bottom: 10px;
  }
  
  .formInput {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
  }
  
  .checkboxLabel {
    margin-right: 5px;
  }
  
  .uploadLabel {
    display: inline-block;
    padding: 8px 12px;
    background-color: #007bff;
    color: white;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
  }
  
  .uploadLabel:hover {
    background-color: #0056b3;
  }
  
  .footer {
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
  }
  
  .formButton {
    padding: 10px 20px;
    border: none;
    background-color: #007bff;
    color: white;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
  }
  
  .formButton:hover {
    background-color: #0056b3;
  }
  